#form {
	width: 100%;
	float: left;
	#post_image {
		color: #969696;
	}
	.input {
		margin-bottom: 0.5rem;
	}
	.input_field {
		width: 100%;
	}
	textarea {
		width: 100%;
		min-height: 150px;
		border: 1px solid #E4E4E4;
		background: #F8F9FA;
		border-radius: 0.3rem;
	}
	.button {
		display: inline-block;
		padding: .7rem 1.25rem;
		margin-bottom: 1rem;
		text-align: center;
		text-decoration: none;
		color: #969696;
		&:hover {
			color: #50A7C7;
			border: 1px solid #50A7C7;
		}
	}
	.hint {
		color: #969696;
	}
}